@model IEnumerable<PartyInvites.Models.GuestResponse>
@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="pl-PL">
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Odpowiedź</title>
</head>
<body>
    <h2>
        Oto lista gości na przyjęciu
    </h2>
    <table>
        <thead>
            <tr>
                <th>Imię i nazwisko</th>
                <th>Adres e-mail</th>
                <th>Numer telefonu</th>
            </tr>
        </thead>
        <tbody>
            @foreach (PartyInvites.Models.GuestResponse item in Model)
            {
                <tr>
                    <td>@item.Name</td>
                    <td>@item.Email</td>
                    <td>@item.Phone</td>
                </tr>
            }
        </tbody>
    </table>
</body>
</html>