@{
    Layout = null;
}
<!DOCTYPE html>

<html>
<head>
    <html lang="PL">
    <meta name="viewport" content="width=device-width" />
    <title>Przyjęcie sylwestrowe</title>
</head>
<body>
    <div>
       @ViewBag.greeting, world (from view)!
    </div>
</body>
</html>
