@{
    Layout = null;
}
<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Inxed</title>
</head>
<body>
    <div>
        Goodbye world (from view)!
    </div>
</body>
</html>
