@{
    Layout = null;
}
<!DOCTYPE html>

<html>
<head>
    <html lang="PL">
    <meta name="viewport" content="width=device-width" />
    <title>Przyjęcie sylwestrowe</title>
</head>
<body>
    <div>
       @ViewBag.greeting 
       <p> 
           Zapraszamy na wspaniałe przyjęcie. <br />
           (Do zrobienia: trzeba to ulepszyć, dodać zdjęcia i inne takie).
       </p>
       <a asp-action="RsvpForm"> Wyślij RSVP </a>
    </div>
</body>
</html>
