@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@model PartyInvites.Models.GuestResponse
@{
    Layout = null;
}
<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" href="~/css/site.css" />
    <meta name="viewport" content="width=device-width" />
    <link rel="stylesheet" href="/lib/bootstrap/dist/css/bootstrap.css" />
    <title>RsvForm</title>
</head>
<body>
    <div class="panel panel-success">
        <div class="panel-heading text-center">
            <h4>
                RSVP
            </h4>
        </div>
        <div class="panel-body">
            <form asp-action="RsvpForm" method="post" class="p-a-1">
                <div asp-validation-summary="All">
                </div>
                <div class="form-group">
                    <label asp-for="Name">Imie i nazwisko </label>
                    <input asp-for="Name" class="form-control" />
                </div>
                <div class="form-group">
                    <label asp-for="Email">Adres e-mail</label>
                    <input asp-for="Email" class="form-control" />
                </div>
                <div class="form-group">
                    <label asp-for="Phone">Numer telefonu</label>
                    <input asp-for="Phone" class="form-control" />
                </div>
                <div class="form-group">
                    <label>Czy przyjdziesz na przyjęcie? </label>
                    <select asp-for="WillAttend" class="form-control">
                        <option value="">
                            Wybierz opcję
                        </option>
                        <option value="true">
                            Tak, przyjdę
                        </option>
                        <option value="false">
                            Nie, nie przyjdę
                        </option>
                    </select>
                </div>
                <button type="submit" class="btn btn-primary">Wyślij RSVP</button>
            </form>
        </div>
    </div>
</body>
</html>
